<p id="notice"><%= notice %></p>

<p>
  <b>Character:</b>
  <%= @inventory.character_id %>
</p>

<p>
  <b>User:</b>
  <%= @inventory.user_id %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
