<h1>Listing dialogues</h1>

<table>
  <tr>
    <th>Statement</th>
    <th>Character</th>
    <th>Conversation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dialogues.each do |dialogue| %>
  <tr>
    <td><%= dialogue.statement %></td>
    <td><%= dialogue.character_id %></td>
    <td><%= dialogue.conversation_id %></td>
    <td><%= link_to 'Show', dialogue %></td>
    <td><%= link_to 'Edit', edit_dialogue_path(dialogue) %></td>
    <td><%= link_to 'Destroy', dialogue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dialogue', new_dialogue_path %>
