<div class="room <%= @background.name %> " style="background: transparent url('<%= @background.img_url %>')">
  <% @background.items.each do |item| %>
    <img src="<%= item.img_url %>" style="left:<%= item.x_pos %>px; bottom:<%= item.y_pos %>px;" data-message="<%= item.description %>">
  <% end %>
  <div class="textbox" id="item_box" style="display: none"></div>
  <div class="textbox" id="dialogue_box" data-next_url="/dialogues/2.js">
    <%= render "dialogues/dialogue" %>
  </div>
  <%= render "dialogues/character" %>
</div>


<div class="something" style="left: <%= @door.x_pos %>; "></div>