<p id="notice"><%= notice %></p>

<!-- <div class="room kitchen">
  <img class="oven" src="/images/kitchen_oven.png" style="left: 25px; bottom: 0px;">
  <img class="table" src="/images/kitchen_table.png" style="left: 255px; bottom: 0px;">
  <img class="door" src="/images/kitchen_door.png" style="left: 555px; bottom: 0px;">
  <img class="shelf" src="/images/kitchen_shelf.png" style="left: 15px; bottom: 354px;">
  <img class="shelf" src="/images/kitchen_shelf.png" style="left: 15px; bottom: 440px;">
  <img class="pot" src="/images/kitchen_pot.png" style="left: 90px; bottom: 368px;">
  <img class="window" src="/images/kitchen_window.png" style="left: 310px; bottom: 356px;">
</div> -->

<div class="room <%= @background.name %>">
  <% @background.each do |item| %>
    <img src="<%= item.img_url %>" style="left:<%= item.x_pos %>px; bottom:<%= item.y_pos %>px;">
  <% end %>
</div>


<p>
  <b>Name:</b>
  <%= @background.name %>
</p>

<p>
  <b>Description:</b>
  <%= @background.description %>
</p>

<p>
  <b>Img url:</b>
  <%= @background.img_url %>
</p>




<%= link_to 'Edit', edit_background_path(@background) %> |
<%= link_to 'Back', backgrounds_path %>