<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Img url:</b>
  <%= @character.img_url %>
</p>

<p>
  <b>X-pos:</b>
  <%= @character.x-pos %>
</p>

<p>
  <b>Y-pos:</b>
  <%= @character.y-pos %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
